html, body{
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
}

.fullpage{
	width: 100%;
}

.halfpage{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexrow{
	display: flex;
	flex-direction: row;
}

.flexcol{
	display: flex;
	flex-direction: column;
}

#homepage{
	height: 34rem;
	width: 100%;
	background-size: cover;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url("../img/Hotel.png"); 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#hometext{
	width: 45%;
	color: white;
	background-color: green;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.8rem;
	margin-left: 5rem;
	border-radius: 3px;
}

#hometext > h{
	font-weight: bold;
	font-size: 1.9rem;
	margin-bottom: 1rem;
}

#homebutton{
	background-color: black;
	border-radius: 8px;
	border-color: black;
	box-shadow: none;
	font-weight: bold;
	transition: 0.3s;
}

#homebutton:hover{
	transform: scaleX(1.3);
	border-radius: 12px;
}

#subscribe{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-top: 1.6rem;
}

#subinfo{
	font-size: 1.5rem;
	margin-left: 2rem;
	margin-bottom: 1.6rem;
}

#subform{
	margin-bottom: 1.6rem;
}

#subinfo > h, #subform > h{
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

#sub{
	font-size: 1.5rem;
	padding-right: 1rem; 
	padding-left: 1rem;
	border-style: solid;
  	border-width: 1px;
}

#subbutton{
	border-radius: 1px;
	height: 2.3rem;
	border-color: green;
	margin-top: 2.8rem;
	background-color: green;
}

#subbutton:visited{
	border-color: darkgreen;
	background-color: darkgreen;
}

#travelpage{
	height: 38rem;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Beach.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

#travelbutton{
	background-color: black;
	border-color: black;
}

#map{
	width: 100%;
	height: 100%;
}

#travelinfo{
	color: white;
	width: auto;
	height: auto;
	background-color: green;
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

#travel{
	height: 100%;
	display: flex;
	text-align: center;
	border-right: 1px solid;
	border-color: black;
}

#travel > h, #blog > h {
	font-size: 1.7rem;
	font-weight: bold;
	text-align: center;
}

#travelmap{
	width: 100rem;
	height: 70%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

#travelsubmit{
	color: white;
	width: auto;
	height: auto;
	background-color: green;
	font-size: 1.1rem;
	padding: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

#travelsubmit > p > a{
	color: darkblue;
	font-weight: bold;
}

#aboutpage{
	height: 38rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    text-align: center;
    background-image: linear-gradient(to bottom right, white, lightgrey);
    margin-bottom: 4rem;
}

#aboutpage > h{
	color: green;
	font-weight: 500;
	font-size: 3rem;
	margin-bottom: 4rem;
	margin-top: 4rem;
	animation-name: slide;
  	animation-duration: 2s;
}

#mappage{
	height: 34rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
}

/*#articlepage{ 
	height: 38rem;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%), url("../img/Beach.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 4rem;
    padding-bottom: 4rem;
}*/

#contactpage{
	height: 38rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contactpage > h{
	font-weight: 500;
	font-size: 3rem;
	color: green;
	margin-top: 4rem;
	margin-bottom: 4rem;
	text-align: center;
}

#contactform{
	width: 65%;
	height: auto;
	margin-bottom: 4rem;
}

/*.cards{
	width: 30%;
	height: 70%;
	color: green;
	background-color: silver;
	text-align: center;
	border-style: solid;
  	border-color: black;
  	border-radius: 4px;
  	box-shadow: black 2px 2px 3px;
  	opacity: 0.8;
  	cursor: pointer;
}

.cards:hover{
	transform: scale(1.1);
	opacity: 1;
}

.cards > h{
	font-weight: bold;
	font-size: 2rem;
	font-family: "times new roman"
}*/

#articlepage{
	height: 34rem;
	width: 100%;
	background-color: green;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
}

#blog{
	height: 100%;
	display: flex;
	text-align: center;
	border-left: 1px solid;
	border-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footerpage{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: lightgrey;
	text-align: center;
	padding-top: 2rem;
}

#nav{
	background-color: white;
	color: green;
}

#navlogo{
	color: green;
	font-weight: 750;
	font-family: "Segoe UI", "Montserrat";
	font-size: 2.1rem;
}

#navlinks{
	font-weight: 700;
	font-size: 1.3rem;
	text-decoration: none;
}

.navspace{
	margin-right: 2rem;
}

@media only screen and (max-width: 760px){
	#homepage{
		font-size: 0.6rem;
	}
	#subscribe{
		flex-direction: column;
		align-items: center;
		font-size: 0.6rem;
	}
	#travelpage{
		height: auto;
		align-items: center;
		flex-direction: column;
	}
	#travelmap{
		height: 10rem;
		width: 20rem;
	}
	#articlepage{
		flex-direction: column;
		align-items: center;
	}
}




